<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="setting1" value="key"/>
	</appSettings>
	<connectionStrings>
		<add name="prod" connectionString="YourConnectionString"/>	
		<add name="Dev"
		providerName="System.Data.SqlClient"
		connectionString="Data Source=DESKTOP-80MBCB5\;AttachDbFilename=|DataDirectory|\Database.mdf;Database=Caps;user id=sa; password=Caps123;"/>
	</connectionStrings>
</configuration>